$background-color: #EEF3FA;
$button-color:#73b90d;
$text-color: #FFF;
$free-text-color: #000;
$border-style: 1px solid gray;
//common-break-points
$desktop-min: 1025px;
$tablet-min:766px;
$tablet-max:1024px;
$mobile-max:765px;
